<!doctype html>
<html>
	<head>
		<title>Oskun saitti</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<div class="navbar-brand">My monkey site!</div>
					<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('api.index') }}">Index</a></li>	
						<li><a href="{{ url_for('api.monkeys') }}">Monkeys</a></li>	
					</ul>
				</div>
			</div>
			{% for message in get_flashed_messages() %}
			<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
		<script src="{{ url_for('static', filename='jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
	</body>
</html>
